.content-form {
  width: 100%;
  height: min-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.form {
  width: 60%;
  height: min-content;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #aaa;
  border: 10px solid #005;
}

.inpt {
  width: 100%;
  font-size: 24px;
  margin: 10px 0;
  border: 2px solid #005;
}

.btn-inpt {
  padding: 5px 10px;
  font-size: 22px;
  margin: 10px;
  border: 5px solid #005;
  background-color: #36b;
  border-radius: 20px;
  font-weight: 700;
}

.btn-inpt:hover {
  background-color: #3af;
  cursor: pointer;
}

.content-form p {
  font-size: 20px;
}

.link-p {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.link-p:hover{
  color: #444;
}